/* ChatContainer.css */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
